.appBar {
  position: fixed;
  background-image: url(../public/titleBg.jpg);
  height: 50px;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 4px solid var(--accent);
  border-radius: 0 0 20% 20%;
}

.titleBg {
  position: absolute;
  top: -5px;
  z-index: -1;
  width: 100vw;
}

.title {
  width: 100%;
  text-align: center;
  font-size: 2.2rem;
  color: var(--accent);
  font-family: "Tilt-Neon";
  padding: 0 10px;
}
